html{ 
 			background: url(https://thirdfang.github.io/wallpaper-back.jpg) no-repeat center fixed; /* Causes the image to be centered on the window, fixed (does not move when scrolling), and doesn't repeat itself when it reaches its size properties */
  			background-size: cover; /* Makes the background cover the entire window (scales the image if the window is minimized or changed in some way) */
			-webkit-background-size: cover;
			background-color: #75cb4c; /* Should the image not load/take too long to load, a green color that closely resembles the image will take its place, so as not to be white, or to help blend in the image seamlessly when it does load */
		}

/* Fixed sidenav, set to cover the full height of the window */
.sidenav{
    			height: 100%;
			width: 225px;
   			position: fixed;
    			z-index: 1;
   			top: 0;
    			left: 0;
    			background-color: #000000; /* Black */
			margin-top: 10px
    			overflow-x: hidden;
		}

/* Style the sidenav links */
.sidenav a{
			display: block;
			padding: 30px;
			text-align: center;
			text-decoration:  none;
			text-transform: uppercase;
			font-family: "Roboto Slab", serif; /* Serif fallback font in case "Roboto Slab" fails to load from the Google Fonts style sheet */
			font-weight: 700;
			color: #aeaeae; /* A light grey */
			font-size: 24px;
		}

/* Main content */
.about, .resume, .gallery, .contact{
    			margin-left: 230px; /* At least as wide as sidenav */
   	 		font-size: 25px; /* Big text to enable scrolling */
			font-family: "Roboto", sans-serif; /* Sans-serif fallback font in case "Roboto" fails to load from the Google Fonts style sheet */
		}

/* Changes the font of the headings, as the headings fall into the <div> containers that are already set for the "Roboto" font */
h2{
			font-family: "Roboto Slab", serif; /* Serif fallback font in case "Roboto Slab" fails to load from the Google Fonts style sheet */
		}

/* Adds an indent for main paragraphs */
.indent{
			text-indent: 50px;
		}

/* Adds space between the bullet/icon and text for <ul> */
li span{
			position: relative; left: 20px;
		}

/* Customizes the list to make it 2 columns */
.list-columns{
			-webkit-column-count: 2;
			column-count: 2;
			margin: 0 auto;
			list-style-type: none;
		}

/* Adds a style for the quote under the profile pic in the sidenav */
.quote{
			color: black;
			display: inline-block;
			background-color: white;
			padding-top: 5px 0;
			padding-bottom: 5px 0;
			font-size: 20px;
			font-family: "Supermercado One", cursive; /* Cursive fallback font in case the "Supermercado One" fails to load from the Google Fonts style sheet */
			text-align: center;
		}

/* Adds a style for the greeting */
.greeting{
		margin-left: 230px;
			font-size: 30px;
			font-family: "Roboto Slab", serif; /* Serif fallback font in case the "Roboto Slab" fails to load from the Google Fonts style sheet */
			text-align: center;
			background-color: rgba(255,255,255, 0.35); /* White, with 35% Opacity */
			border: 3px solid black;
			border-radius: 10px;
		}

/* Adds a style to the picture in the sidenav */
.profilePic{
			display: block;
    			margin-left: auto;
    			margin-right: auto;
			border-radius: 65%;
			border: 2px solid white;
			width: 100%;
		}

/* Changes the links in the body */
a.internal{
			text-indent: initial; /* Cancels the text-indent from a previous class to default settings */
			text-decoration: none;
			font-weight: bold;
			color: blue;
		}

/* Changes the links in the body when the cursor hovers on them */
a.internal:hover{
			background-color: black;
			color: white;
			border-radius: 5px;	
		}

/* Custom design for the 'Beam Me Up, Scotty' button */
.buttonTop{
			background: radial-gradient(#ff3233, #3d0000); /* Light red center, getting a darker red towards the edges */
    			border: solid;
			border-color: black;
			border-radius: 50%; /* Gives the button an oval shape */
    			color: white;
			float: right;
    			padding: 20px;
    			text-align: center;
    			text-decoration: none;
    			display: inline-block;
    			font-size: 16px;
    			margin: 4px 2px;
    			cursor: pointer;
			font-family: "Roboto Slab", serif;
			font-weight: bold;
		}

/* Custom design for the 'Beam Me Up, Scotty' button when the cursor hovers over the button */
.buttonTop:hover{
			background: radial-gradient(#46467d, #00003c); /* Light blue center, getting a darker blue towards the edges */
    			border: solid;
			border-color: black;
			border-radius: 50%; /* Gives the button an oval shape */
    			color: white;
			float: right;
    			padding: 20px;
    			text-align: center;
    			text-decoration: none;
    			display: inline-block;
    			font-size: 16px;
    			margin: 4px 2px;
    			cursor: pointer;
			font-family: "Roboto Slab", serif;
			font-weight: bold;
		}

/* Adds a custom style to the video */
video{
			display: block;
			margin: 0 auto;
			align: center;
			width: 80%;
}
		
/* Bob animation for the "Beam Me Up, Scotty" button. Makes the object quickly (0.3s) go up 8px, then "bobs" 4px up and down upon hovering over the button */
@-webkit-keyframes hvr-bob{
  		0%{
    			-webkit-transform: translateY(-8px);
    			transform: translateY(-8px);
  		}
  		50%{
    			-webkit-transform: translateY(-4px);
    			transform: translateY(-4px);
  		}
  		100%{
    			-webkit-transform: translateY(-8px);
    			transform: translateY(-8px);
  		}
	}

@keyframes hvr-bob {
  		0%{
    			-webkit-transform: translateY(-8px);
    			transform: translateY(-8px);
  		}
  		50%{
    			-webkit-transform: translateY(-4px);
    			transform: translateY(-4px);
  		}
  		100%{
    			-webkit-transform: translateY(-8px);
    			transform: translateY(-8px);
  		}
	}

@-webkit-keyframes hvr-bob-float {
  		100%{
    			-webkit-transform: translateY(-8px);
    			transform: translateY(-8px);
  		}
	}

@keyframes hvr-bob-float {
  		100%{
    			-webkit-transform: translateY(-8px);
    			transform: translateY(-8px);
  		}
	}

.hvr-bob{
  			display: inline-block;
  			vertical-align: middle;
  			-webkit-transform: perspective(1px) translateZ(0);
  			transform: perspective(1px) translateZ(0);
  			box-shadow: 0 0 1px transparent;
		}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active{
  			-webkit-animation-name: hvr-bob-float, hvr-bob;
  			animation-name: hvr-bob-float, hvr-bob;
  			-webkit-animation-duration: .3s, 1.5s;
  			animation-duration: .3s, 1.5s;
  			-webkit-animation-delay: 0s, .3s;
  			animation-delay: 0s, .3s;
  			-webkit-animation-timing-function: ease-out, ease-in-out;
  			animation-timing-function: ease-out, ease-in-out;
  			-webkit-animation-iteration-count: 1, infinite;
  			animation-iteration-count: 1, infinite;
  			-webkit-animation-fill-mode: forwards;
  			animation-fill-mode: forwards;
  			-webkit-animation-direction: normal, alternate;
  			animation-direction: normal, alternate;
		}

/* Back Pulse animation for Nav Bar links. Makes the object 'pulse' with a certain color infinitely, with the animation being a half-second transition of the color being at 45% to 100% opacity */
@-webkit-keyframes hvr-back-pulse{
  		50%{
    			background-color: rgba(19,141,72, 0.45); /* Green color */
  		}
	}

@keyframes hvr-back-pulse{
  		50%{
    			background-color: rgba(19,141,72, 0.45); /* Green color */
  			}
		}

.hvr-back-pulse{
  			display: inline-block;
  			vertical-align: middle;
  			-webkit-transform: perspective(1px) translateZ(0);
  			transform: perspective(1px) translateZ(0);
  			box-shadow: 0 0 1px transparent;
  			overflow: hidden;
  			-webkit-transition-duration: 0.5s;
  			transition-duration: 0.5s;
  			-webkit-transition-property: color, background-color;
  			transition-property: color, background-color;
		}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active{
  			-webkit-animation-name: hvr-back-pulse;
  			animation-name: hvr-back-pulse;
  			-webkit-animation-duration: 1s;
  			animation-duration: 1s;
  			-webkit-animation-delay: 0.5s;
 			animation-delay: 0.5s;
  			-webkit-animation-timing-function: linear;
  			animation-timing-function: linear;
  			-webkit-animation-iteration-count: infinite;
  			animation-iteration-count: infinite;
  			background-color: #138D48; /* Same as the color above, without the opacity filter */
  			color: white; /* Font color */
		}

/* Pulse animation for internal links within the body. Makes the object grow and shrink in 5% increments in 1 second intervals infinitely */
@-webkit-keyframes hvr-pulse {
		25% {
    			-webkit-transform: scale(1.1);
    			transform: scale(1.1);
  		}

  		75% {
    			-webkit-transform: scale(0.9);
    			transform: scale(0.9);
  		}
	}

@keyframes hvr-pulse {
  		25% {
    			-webkit-transform: scale(1.1);
    			transform: scale(1.05);
  		}

  		75% {
    			-webkit-transform: scale(0.9);
    			transform: scale(0.95);
  		}
	}

.hvr-pulse {
  		display: inline-block;
  		-webkit-transform: perspective(1px) translateZ(0);
  		transform: perspective(1px) translateZ(0);
  		box-shadow: 0 0 1px transparent;
	}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  		-webkit-animation-name: hvr-pulse;
  		animation-name: hvr-pulse;
  		-webkit-animation-duration: 1s;
  		animation-duration: 1s;
  		-webkit-animation-timing-function: linear;
  		animation-timing-function: linear;
  		-webkit-animation-iteration-count: infinite;
  		animation-iteration-count: infinite;
	}

/*The following CSS code was helped in part by W3Schools 'How To' on slideshows*/
*{
			box-sizing:border-box;
		}

/* Slideshow container */
.slideshow-container{
  			max-width: 85%; /* Widens the container to 85% of the window */
  			position: relative;
  			margin: auto;
		}

/* Hide the images by default */
.mySlides{
    			display: none;
		}

/* Next & previous buttons */
.prev, .next{
  			cursor: pointer;
			position: absolute;
  			top: 50%;
  			width: auto;
  			margin-top: -22px;
  			padding: 16px;
  			color: white;
  			font-weight: bold;
  			font-size: 18px;
  			transition: 0.6s ease;
  			border-radius: 0 3px 3px 0;
		}

/* Position the "next button" to the right */
.next{
  			right: 0;
  			border-radius: 3px 0 0 3px;
		}

/* Adds a black background color with 80% opacity on the next and previous buttons on hover */
.prev:hover, .next:hover{
  			background-color: rgba(0, 0, 0, 0.8); /* Black with a 80% opacity */
		}

/* Caption text, with a white background color of 50% opacity */
.text{
  			color: black;
  			font-size: 20px;
  			padding: 8px 12px;
  			font-weight: bold;
  			position: absolute;
  			background-color: rgba(255, 255, 255, 0.5); /* White with a 50% opacity */
  			bottom: 4px;
  			width: 100%;
  			text-align: center;
		}

/* Number text (1/5 etc) */
.numbertext{
  			color: #f2f2f2; /* Light grey/borderline white color */
			background-color: rgba(0, 0, 0, 0.6); /* White with a 60% opacity */
			border-radius: 5px;
  			font-size: 7px;
  			padding: 8px 12px;
  			position: absolute;
  			top: 0;
		}

/* The dots/bullets/indicators */
.dot{
  			cursor: pointer;
  			height: 15px;
  			width: 15px;
  			margin: 0 2px;
  			background-color: #bbbbbb; /* Light Grey Color */
  			border-radius: 50%;
  			display: inline-block;
  			transition: background-color 0.6s ease;
		}

.active, .dot:hover{
  			background-color: #717171; /* Darker shade of Gray than above */
		}

/* Fading animation */
.fade{
  			-webkit-animation-name: fade;
  			-webkit-animation-duration: 1.0s;
  			animation-name: fade;
  			animation-duration: 1.0s;
		}

/* Fade animation foes from 40% to 100% opacity */
@-webkit-keyframes fade{
  			from {opacity: .4} 
  			to {opacity: 1}
		}

@keyframes fade{
  			from {opacity: .4} 
  			to {opacity: 1}
		}

/* Some media queries for responsiveness */
@media screen and (max-height: 650px) {
			/* Adds a scroll bar for smaller screens (height-wise) in the y-axis */
			.sidenav {overflow-y: auto;} 		}

@media screen and (max-width: 1480px) {
			/* Makes the class "list-columns" change to have one column and display in a table format */
			.list-columns{ 
				-webkit-column-count: 1; 
				column-count: 1; 
				display: table;}
		}

@media screen and (max-width: 875px) {
			/* Shrinks the margin to match the sidenav for smaller screens, and makes the font smaller so as not to require as much scrolling */
			.about, .resume, .gallery, .contact{font-size: 16px; margin-left: 117px;}

			/* Shrinks the sidenav container for smaller screens */
			.sidenav {width: 112px;}

			/* Shrinks the margin to match the sidenav for smaller screens, and makes the font smaller */
			.greeting{margin-left: 117px; font-size: 18px}

			/* Shrinks the font of the links in the sidenav, and centers them in the new size */	
			.sidenav a{font-size: 14px; text-align: center;}

			/* Shrinks the font of the caption for smaller screens, so that the caption doesn't cover the picture */
			.text{font-size: 10px;}

			/* Shrinks the font of the quote for smaller screens, so that the sentence visually flows better */
			.quote{font-size: 14px;}
		}
